extends layout

block content
  h1= title
  p Welcome to #{title}
      button(onclick="showMovies()") Показать фильмы
  div(id="result-container")
    ul(id="result-list")
  script.
    const result = !{JSON.stringify(result)};    
    function showMovies(){
      console.log(result)
      const list = document.getElementById('result-list');
      result.forEach(item => {
        const li = document.createElement('li');
        li.textContent = `${item["Movie"]}, ${item["Year"]}, ${item["Genre"]}`
        list.appendChild(li);
      })
    }

